<nav id="navBar">
	<a href="/"><img src="img/lea.jpg"></a>
	<form method="post" action="/cerrar">
		<input type="submit" class="btn" onfocus="style='background-color='red''" name="cerrar" value="cerrar">
	</form>
</nav>