<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel="icon" href="img/lea.jpg" />

	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"> 
	
    <link rel="stylesheet" type="text/css" href="/css/estilo.css">
 
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    
	<title>LEA</title>
</head>
