{{>header}}
{{>dropdown}}
<script src="/socket.io/socket.io.js"></script>
<script src="js/socket.js"></script>
<script src="js/grafica.js"></script>

<section id="opciones_adm">
	<button class="btn btn-primary" id="crearObra">Crear obra</button>
	<form action="/obras" method="post"><button class="btn btn-success">Obras</button></form>
</section>
<div class="container">

</div>
<script type="text/javascript">
$('document').ready(function(){
	$("#crearObra").click(function(){
		$('.container').load('administrador/crearObra.hbs');
	});
});
</script>
{{>desp}}
{{>footer}}