{{>header}}
<h1>Aquí se va a mostrar la grafica</h1>

<script src="/socket.io/socket.io.js"></script>
<script src="js/grafica.js"></script>

<div style="width: 45%;">
    <canvas id="myChart"></canvas>
</div>
{{>footer}}