{{>header}}
{{>dropdown}}
<h1>Aquí se va a mostrar la grafica</h1>

<script src="/socket.io/socket.io.js"></script>
<script src="js/graf.js"></script>
<div id>
	<canvas id="myChart" width="100px" height="100px"></canvas>
</div>
{{>footer}}