{{>header}}

<section>
		<div id="formulario">
			<a id="logo" href="/"><img src="img/lea.jpg"></a>
			<form class="form-group" method="post" action="/">
				<input type="text" placeholder="Usuario" name="user" class="form-control">

				<input type="password" placeholder="contraseña" name="pass" class="form-control">

				<input type="hidden" name="rol" value="adm">
				<input type="submit" name="enviar" value="Enviar" class="btn btn-success">

			</form>
		</div>
	</section>
{{>footer}}