{{>header}}
	<h1>Bienvenido {{datos.nombre}} ésta es la sala de espera, ¡Diviertete!.</h1>
	<script src="/socket.io/socket.io.js"></script>
    <script src="js/socket.js"></script>
    <div id="divPregunta">

    	<b id="texto">	</b>

    </div>
{{>footer}}