body{
    /*background-image: url('../img/city.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    */
    /*height: 10000px;*/	
    background-color: rgba(0,0,f,.2);
}
#formulario{
	position: absolute;
	padding: 2.5%;
	top: 5%;
	left: 35%;
	width: 30%;
	border: solid silver 1px;
	border-radius: 7px;
}
@media screen and (max-height: 600px){
	#formulario{
		position: absolute;
		padding: 2.5%;
		top: 5%;
		left: 20%;
		width: 60%;
		border: solid silver 1px;
		border-radius: 7px;
	}
	#navBar form{
		display: inline-block;
		position: relative;
		left: 50%;
		width:10%;
	}
}
#formulario img{
	width: 50%;
	position: relative;
	left: 25%;
}
#formulario input{
	width: 50%;
	position: relative;
	left: 25%;
	margin-bottom: 2%; 
}
#formulario #adm{ 
	left:80%;
}
#formulario #about_us{
	left: 0%
}
#formulario a:not(#logo){
	position: absolute;
	top:104%;
	color:blue;
	text-decoration:none;
}
select{
	width: 50%;
	margin-bottom:2%; 
}
.drop{
	position: absolute;
	right: 100%;
}

/*#Pet{
	position: absolute;
	left: 20%;
	top: 20%;
	width: 30%;
	height :30%;
	background-color: black;
	border-radius: 50%
}
@media screen and (max-height: 600px ){
	#Pet
}*/
#divPregunta{
	padding: 2%;
	/*border:1px solid black;*/
	border-radius: 2% 2% 2% 0;
	position: relative;
	top:10%;
}
#divPregunta input{
	height: 100%;
	width: 50%
}

#navBar{
	position: fixed;
	top: 0px;
	right: 0px;
	width: 100%;
	height: 10%;
	border-bottom: 1px solid black;
	background-color:white;
	z-index: 200;
}
#navBar img{
	position: relative;
	top:2%;
	left: 2%;
	width: 7%;
	height: 90%;
	border-radius: 5%;
}
#navBar form{
	display: inline-block;
	position: relative;
	left: 80%;
	width:10%;
}
#navBar .btn{
	border:1px solid black;
	width: 100%
}
#navBar .btn:over{
	background-color: red;
}
#up{
	position: fixed;
	top:95%;
	left: 97%;
}

#telon{
	position: absolute;
	top:0px;
	left: 0px;
	width:100%;
	height:1024px;
	background:rgba(0,0,0,.7);
	z-index: 200;
	/*display: inline-block;*/
	display: none;
}
#telon .card{
	position: fixed;
	top: 40%;
	left: 20%;
	width: 60%;
}
@media screen and (max-height:600px ){
	#telon .card{
	position: fixed;
	top: 20%;
	left: 10%;
	width: 80%;
}
}
#obra_presentacion{
	position: absolute;
	top:20%;
	left:20%;

	width: 60%;
}