<form class="form-group" action="/crearObra" method="post">
	<label for="Titulo">Titulo</label>
	<input type="txt" name="titulo" id="Titulo" placeholder="Titulo de la obra" class="form-control">
	<label for="autor">Autor</label>
	<input type="txt" name="autor" id="autor" placeholder="Autor o escritor de la obra" class="form-control">
	<label for="descripcion">Descripción</label>
	<textarea cols="30" rows="10" maxlength="300"  class="form-control" name="descripcion" placeholder="Descripción"></textarea>
	<input type="submit" name="enviar" id="enviar_obra" class="btn btn-primary" value="Enviar">
</form>
